<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Placeholder</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center logoFont pb-2">Better Together</h1>
        <div class="row pt-1 pb-1 ml-1 mr-1 mb-2" style="background-color: rgba(0,0,0,.03); border-radius: 6px; border: 1px solid rgba(0,0,0,.125);">
            <div class="col-lg-6 col-sm-12">
                <div class="search-container">
                    <form action="/users/search/" method="POST" style="margin: 0 auto;" class="text-center">
                        <input type="text" placeholder="Find people to follow..." class="mt-1" name="search" style="width:80%">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 navbar">
                {{#if user}}
                <a href="/users/profile" style="font-weight: 700;">View Profile</a>
                <a href="/feed" style="font-weight: 700;">Feed</a>
                <a href="/users/logout" style="font-weight: 700;">Logout</a>
                {{else}}
                <div style="font-weight: 700; width: 100%; display:block; text-align: center;" class="text-lg-right text-sm-center text-md-center text-xs-center">
                    <a href="/users/login" style="font-weight: 700;">Login/Sign Up</a>
                </div>

                {{/if}}
            </div>
        </div>

    </div>

    {{#if messages}}
    <div class="container messages">
        {{{messages}}}
    </div>
    {{/if}} {{#if errors}} {{#each errors}}
    <div class="container messages mb-2">
        {{msg}}
    </div>
    {{/each}} {{/if}} {{{body}}}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> {{!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>

{{!-- Save while I mess with navigation --}} {{!--
<div class="search-container">
    <form action="/users/search/" method="POST">
        <input type="text" placeholder="Find people to follow..." name="search">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div> --}}