<div class="row">


    <div class="col-lg-1" style="background-color: rgb(34, 34, 34);"></div>
    <div class="col-lg-10">
        <img src="/images/home.jpg" class="img-fluid" alt="Responsive image" style="width: 100%" />
    </div>
    <div class="col-lg-1" style="background-color: rgb(34, 34, 34);"></div>

</div>

<div class="container">
    <div class="row mb-5 mt-2">
        <div class="col-lg-0 col-md-1"></div>
        <div class="col-lg-12 col-md-10 mt-2">
            <div class="card-deck pb-2">

                <div class="card">
                    <div class="card-header" style="font-size:8em; color:rgb(71, 99, 255); width: 100%; margin: 0 auto; text-align: center;">
                        <i class="fa fa-address-book text-center"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Find friends and interesting people to follow</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="font-size:8em; color:rgb(77, 255, 71); margin: 0 auto; width: 100%; text-align: center;">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Share your thoughts and engage with people from around the world</h2>
                    </div>
                </div>
            </div>

            <div class="card-deck pt-2">

                <div class="card">
                    <div class="card-header" style="font-size:8em; color:rgb(255, 237, 71); width: 100%; margin: 0 auto; text-align: center;">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Stay in touch with important world news</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="font-size:8em; color:rgb(255, 71, 71); margin: 0 auto; width: 100%; text-align: center;">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Find communities for your favorite things and favorite hobbies</h2>
                    </div>
                </div>
            </div>



        </div>

        <div class="col-lg-0 col-md-1"></div>
    </div>



</div>





{{!--
<div class="container">
    <div class="row mb-5 mt-2">
        <div class="col-lg-0 col-md-0"></div>
        <div class="col-lg-6 col-md-6 mt-2">
            <div class="card">
                <div class="card-header" style="font-size:8em; color:rgb(71, 99, 255); margin: 0 auto; width: 100%; text-align: center;">
                    <i class="fa fa-address-book text-center"></i>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Find friends and interesting people to follow</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
            <div class="card">
                <div class="card-header" style="font-size:8em; color:rgb(71, 99, 255); margin: 0 auto; width: 100%; text-align: center;">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Share your thoughts and engage with people around the world</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-0 col-md-0"></div>
    </div> --}}