<div class="container">
  <h1>Change Profile Picture</h1>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="myImage">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <button type="submit" class="btn btn-success mt-3">Submit</button>
  </form>


</div>